---
import getFooterLabels from "~/lib/getFooterLabels";
import { FooterText } from "~/locales";
import GithubIcon from "../../../app/icons/Github";
import TwitterIcon from "../../../app/icons/Twitter";
import InstagramIcon from "../../../app/icons/Instagram";
import YoutubeIcon from "../../../app/icons/Youtube";
import RSSIcon from "../../../app/icons/RSS";
import NotAIIcon from "../../../app/icons/NotAI";

interface Props {
  lang: string;
  currentYear: number;
}

const { lang, currentYear } = Astro.props;
const items = getFooterLabels(FooterText, lang);

const social = [
  { name: "GitHub", href: "https://github.com/darmau", Icon: GithubIcon },
  { name: "X", href: "https://x.com/darmau8964", Icon: TwitterIcon },
  { name: "Instagram", href: "https://www.instagram.com/ridamoe", Icon: InstagramIcon },
  { name: "YouTube", href: "https://www.youtube.com/@darmau", Icon: YoutubeIcon },
];
---

<footer aria-labelledby="footer-heading" class="bg-white border-t border-gray-200">
  <h2 id="footer-heading" class="sr-only">Footer</h2>
  <div class="mx-auto max-w-8xl px-6 pb-8 pt-16 sm:pt-24 lg:px-8 lg:pt-32">
    <div class="xl:grid xl:grid-cols-2 xl:gap-8">
      <div>
        <img alt="积薪" src="/logo.svg" class="h-12 mb-4" />
        {lang === "jp" && (
          <a href="https://blog.with2.net/link/?id=2136562&follow" title="人気ブログランキングでフォロー" target="_blank" rel="noreferrer">
            <img alt="人気ブログランキングでフォロー" width="235" height="46" src="https://blog.with2.net/banner/follow/2136562?t=b" />
          </a>
        )}
      </div>
      <div class="my-16 grid grid-cols-2 lg:grid-cols-4 gap-8 xl:mt-0">
        {items?.map((block) => (
          <div class="flex flex-col gap-4">
            <h3 class="text-sm font-semibold leading-6 text-gray-900">{block.name}</h3>
            {block.items.map((item) => (
              <a href={item.href} class="text-sm leading-6 text-zinc-600 hover:text-zinc-900">
                {item.name}
              </a>
            ))}
          </div>
        ))}
      </div>
    </div>

    <div class="mt-8 border-t border-gray-900/10 pt-8 md:flex md:items-center md:justify-between">
      <div class="flex space-x-6 md:order-2">
        <a href={`/${lang}/rss`} class="text-gray-400 hover:text-gray-500">
          <span class="sr-only">RSS</span>
          <RSSIcon className="h-6 w-6" />
        </a>
        {social.map(({ name, href, Icon }) => (
          <a href={href} target="_blank" rel="noreferrer" class="text-gray-400 hover:text-gray-500">
            <span class="sr-only">{name}</span>
            <Icon aria-hidden="true" className="h-6 w-6" />
          </a>
        ))}
      </div>
      <NotAIIcon className="mt-8 md:order-1 md:mt-0" />
      <p class="mt-8 text-xs leading-5 text-gray-500 md:order-0 md:mt-0">
        © 2019 - {currentYear} Design and Develop by 李大毛. All rights reserved.
      </p>
    </div>
  </div>
</footer>
