---
import type { Article } from "~/types/Article";
import type { Image } from "~/types/Image";
import getTime from "~/lib/i18n/getTime";
import ResponsiveImage from "~/components/ResponsiveImage.tsx";
import { ChatBubbleOvalLeftIcon, EyeIcon, LockClosedIcon } from "@heroicons/react/24/outline";

interface Props {
  article: Article;
  isTop: boolean;
  lang: string;
  imgPrefix: string;
  classList?: string;
}

const { article, isTop, lang, imgPrefix, classList } = Astro.props;
---

<article class={classList}>
  <a
    href={`/${lang}/article/${article.slug}`}
    class:list={[
      "gap-4 flex flex-col lg:gap-6",
      isTop ? "lg:flex-col" : "lg:flex-row",
    ]}
  >
    {
      article.cover &&
        (isTop ? (
          <ResponsiveImage
            client:visible
            image={article.cover as Image}
            width={640}
            classList="aspect-5/3 sm:aspect-3/1 w-full rounded-md overflow-hidden"
            prefix={imgPrefix}
          />
        ) : (
          <ResponsiveImage
            client:visible
            image={article.cover as Image}
            width={640}
            classList="aspect-5/3 sm:aspect-3/1 w-full rounded-md overflow-hidden md:aspect-3/2 lg:grow-0 lg:max-w-48"
            prefix={imgPrefix}
          />
        ))
    }
    <div class="flex flex-col gap-3 sm:grow">
      <div class="text-zinc-400 text-sm">
        <span class="text-violet-700 font-medium">{article.category.title}</span>
        &nbsp;·&nbsp;
        <span>{getTime(article.published_at, lang)}</span>
      </div>
      <div class="flex items-center gap-2 text-zinc-800 group-hover:text-violet-900">
        {
          article.is_premium && (
            <LockClosedIcon className={`h-5 w-5 text-violet-600 ${isTop ? "" : "mt-0.5"}`} />
          )
        }
        <h2 class:list={["font-medium", isTop ? "text-3xl" : "text-2xl"]}>{article.title}</h2>
      </div>
      <h3 class="text-base text-zinc-500 leading-7">{article.subtitle}</h3>
      {
        article.topic && (
          <div class="flex flex-wrap gap-2">
            {article.topic.map((topic) => (
              <span class="inline-flex items-center rounded-md bg-zinc-100 px-2 py-1 text-xs text-zinc-600">
                {topic}
              </span>
            ))}
          </div>
        )
      }
      {
        isTop && article.abstract && (
          <p class="text-sm bg-zinc-50 p-2 rounded-md text-zinc-500 mt-2 lg:p-4">
            {article.abstract}
          </p>
        )
      }
      <div class="flex gap-3 justify-start items-center">
        <div class="flex gap-1 items-center">
          <EyeIcon className="h-4 w-4 inline-block text-zinc-400" />
          <span class="text-zinc-500 text-sm">{article.page_view}</span>
        </div>
        <div class="flex gap-1 items-center">
          <ChatBubbleOvalLeftIcon className="h-4 w-4 inline-block text-zinc-400" />
          <span class="text-zinc-500 text-sm">{article.comments[0].count}</span>
        </div>
      </div>
    </div>
  </a>
</article>
