---
import type { YearCount, CategoryCount } from "~/lib/articles";

interface Props {
  lang: string;
  countByYear: YearCount[];
  countByCategory: CategoryCount[];
  yearLabel: string;
  categoryLabel: string;
}

const { lang, countByYear, countByCategory, yearLabel, categoryLabel } = Astro.props;
---

<aside class="pb-4 space-y-8 md:col-span-1">
  <div class="space-y-4">
    <h3 class="text-sm font-semibold text-violet-600">{yearLabel}</h3>
    <ol>
      {
        countByYear && countByYear.length > 0 ? (
          countByYear.map((year) => (
            <li class="p-2 rounded-md hover:bg-zinc-50 cursor-pointer">
              <a
                href={`/${lang}/articles/archive/${year.year}/1`}
                class="text-base text-zinc-500 block"
              >
                {year.year} ({year.count})
              </a>
            </li>
          ))
        ) : (
          <li class="text-sm text-zinc-400 p-2">暂无数据</li>
        )
      }
    </ol>
  </div>
  <div class="space-y-4">
    <h3 class="text-sm font-semibold text-violet-600">{categoryLabel}</h3>
    <ol>
      {
        countByCategory.map((category) =>
          category.count === 0 ? null : (
            <li class="p-2 rounded-md hover:bg-zinc-50 cursor-pointer">
              <a
                href={`/${lang}/articles/category/${category.slug}/1`}
                class="text-base text-zinc-500 block"
              >
                {category.title} ({category.count})
              </a>
            </li>
          ),
        )
      }
    </ol>
  </div>
</aside>
