---
import getLanguageLabel from "~/lib/i18n/getLanguageLabel";
import { ArticleText } from "~/locales";

export interface NeighboringPost {
  title: string;
  slug: string;
}

interface Props {
  type: string;
  lang: string;
  prev: NeighboringPost | null;
  next: NeighboringPost | null;
}

const { type, lang, prev, next } = Astro.props;
const label = getLanguageLabel(ArticleText, lang);
---

<div class="flex justify-between items-center flex-wrap border-y border-gray-200 py-8 mt-12">
  {
    prev && (
      <div class="flex flex-col gap-2">
        <h3 class="font-medium text-violet-900 text-sm">{label.previous}</h3>
        <a href={`/${lang}/${type}/${prev.slug}`}>
          <h4 class="font-medium text-zinc-800 text-lg">{prev.title}</h4>
        </a>
      </div>
    )
  }
  {
    next && (
      <div class="flex flex-col gap-2 items-end text-right ml-auto">
        <h3 class="font-medium text-violet-900 text-sm">{label.next}</h3>
        <a href={`/${lang}/${type}/${next.slug}`}>
          <h4 class="font-medium text-zinc-800 text-lg">{next.title}</h4>
        </a>
      </div>
    )
  }
</div>
